/inside-docker-container/
/content-processing/
/ansible/
/tmp/
/venv/
/logs/
/map/
/bk_services/thumb_image/
/bk_services/LibreOfficeTempProfiles/
/bk_services/thumb_office/
/bk_services/thumb_pdf/
/bk_services/thumb_video/
/bk_services/ocr_image/