
<div class="layout-columns" title="{{data.FileName}}">

                <div class="dock full" style="overflow-y:auto">
                    <table>
                        <tr ng-repeat="(key, value) in data">
                            <td valign="top">
                                <b style="margin-right:20px">{{key}}</b>
                            </td>
                            <td  valign="top">:</td>
                            <td ng-if="key!='AvailableThumbs'">
                                <span>{{value}}</span>
                            </td>
                            <td ng-if="key=='AvailableThumbs'">
                                <p  ng-repeat="r in value">
                                    <img ng-src="../{{r}}"></img>
                                </p>
                            </td>


                        </tr>

                    </table>
                </div>

<div class="layout-rows">
    <div style="padding:4px" ng-if="(!data.MarkDelete)||(data.MarkDelete==null)">
        <input type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Mark delete')}}" ng-click="doSetMarkDelete(true).then()" />
    </div>
    <div style="padding:4px" ng-if="(data.MarkDelete==true)">
        <input type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Unmarked delete')}}" ng-click="doSetMarkDelete(false).then()" />
    </div>
    <div class="dock full"></div>

    <div style="padding:4px">
        <input type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Create filter tags')}}" ng-click="doCreateTags().then()" />
    </div>
    <div style="padding:4px">
        <input type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Copy to')}} ..." ng-click="doCopy().then()" />
    </div>
    <div style="padding:4px">
        <input type="button" class="btn btn-primary pull-right btn-sm" value="{{$res('Close')}}" ng-click="$close()" />
    </div>

</div>
</div>
